
.carousel {
  display: flex;
  transition: var(--transition-cb);
  transition-duration: var(--duration-md);
}

.carousel_control_left {
  left: 0;
}
.carousel_control_right {
  right: 0;
}

.carousel_control_left,
.carousel_control_right {
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out;
  transition-duration: var(--duration-sm);
}

.carousel_control_left:hover,
.carousel_control_right:hover {
  background-color: var(--color-opacity);
  .arrow_left,
  .arrow_right {
    display: block;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: solid;
    border-radius: 50%;
  }
}

.arrow_left {
  transform: rotate(180deg);
}

.arrow_left,
.arrow_right {
  width: 0;
  height: 0;
  transition: ease-in-out;
  transition-duration: var(--duration-sm);
}
