@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p-s: 10px;
  --color-p: #f7f3ed;
  --color-s: #ce8c2c;
  --color-f: #1e1810;
  --color-opacity: rgba(0, 0, 0, 0.5);
  --gap-sm: 10px;
  --gap-md: 25px;
  --gap-lg: 100px;
  --border-radius: 10px;
  --box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  --transition-cb: cubic-bezier(0.165, 0.84, 0.44, 1);
  --duration-sm: 0.2s;
  --duration-md: 0.5s;
  --duration-lg: 1s;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: var(--color-f);
  border-color: var(--color-f);
  fill: var(--color-f);
}

body {
  padding: 0;
  margin: 0;
  scrollbar-width: 0;
}
