@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p-sm: 10px;
  --p-md: 30px;
  --color-p: #4F4F4F;
  --color-s: #D1DEE4;
  --background-color: #f3f4f6;
  --color-opacity: rgba(0, 0, 0, 0.5);
  --gap-sm: 20px;
  --gap-md: 50px;
  --gap-lg: 80px;
  --border-radius: 32px;
  --box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  --transition-cb: cubic-bezier(0.165, 0.84, 0.44, 1);
  --duration-sm: 0.2s;
  --duration-md: 0.5s;
  --duration-lg: 1s;
}

* {
  box-sizing: border-box;
  color: var(--color-p);
  fill: var(--color-f);
}

body {
  padding: 0;
  margin: 0;
  scrollbar-width: 0;
}
