/* main start */
.main {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* blog start*/
.blog {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog_item {
  display: flex;
  gap: 50px;
}
.blog_item_img {
  width: 40%;
}
.blog_item_content {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 22px;
}

.blog_item:nth-child(2n) {
  .blog_item_img {
    order: 1;
  }
  .blog_item_content {
    align-items: flex-end;
  }
}
/* footer start */
.footer {
}
